body {
    font-family: 'Nunito';
}
.fm{
    font-family: fantasy;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.container {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}


/*  圖片放大  */
.box{
	overflow: hidden;
}

.imageHov{
  width: 100%;
	transition:  1.6s;
}

.imageHov:hover{
  transform: scale(1.3);
}

.goodsTitle:hover{   /*  商品名稱  */
  font-weight:bold;

}


.shop_foot{
    background-color:rgb(121, 119, 122);
    color: #fff;
    padding: 30px;
    line-height: 1.8;
    margin: 15px 0px;
   }
